body {
    font-family: "afacad", sans-serif;
}

title {
    display: none;
}

*, *::after, *:before {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    color: #fff;
    height: 100vh;
    /* border: 1px red solid; */
    background-image: url(../assets/images/trees.JPG);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-shadow: #0000004f 0px 0 10px;

    & .hero-title, .hero-subtitle {
        text-align: center;
        width: 60vw;
        border-left: 2pt solid #54a8e994;
        border-right: 2pt solid #54a8e994;
        /* border-radius: 10pt; */
        margin: 2pt;
        padding: 10pt;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
        background-color: #67c0e733;
        backdrop-filter: blur(10pt);
    }
}

.content-container {
    /* border: blue 2pt solid; */
    background-color: #fcff5c;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5dvh;
    padding: 0;

    & img {
        /* border: red 1pt solid; */
        width: 50%;
        height: fit-content;
    }

    & .content-right {
        /* border: 1px red solid; */
        flex: 1;
        height: fit-content;
        margin: 20pt;
        display: flex;
        flex-flow: column wrap;

        & h1 {
            padding: 0;
            margin: 0;
        }

        & a {
            border: none;
            text-decoration: none;
            background-color: #dfb9ef;
            color: black;
            /* padding: 10pt; */
            margin: none;
            font-family: "Afacad", sans-serif;
            width: fit-content;
            padding: 10pt;
        
            &:hover {
                background-color: #7c6d84;
                color: white;
            }
        }
    }
}

.accordion-container {
    background-color: #fc7753;
    color: #fff;
    height: fit-content;
    width: 70dvw;
    padding: 10pt;
    display: flex;
    flex-flow: column wrap;

    & .accordion {
        position: relative;
        /* border: 1pt solid red; */
        padding: 0;
        display: flex;
        flex-flow: column wrap;

        & input {
            /* border: 2px solid purple; */
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            visibility: 0;
        }

        & h2 {
            /* border: 1pt solid blue; */
            background-color: rgb(126, 222, 243);
            color: black;
            margin: 0;
            padding: 10pt;
            cursor: pointer;
            margin: 5pt;
            transition: background-color 0.3s ease-in-out;
        }

        & p {
            display: none;
            margin: 5pt;
            padding: 5pt;
            background-color: #0000006f;
            /* border: green 1pt solid; */
        }
        
        & input:checked + h2 + p {
            display: block;
        }

        & input:checked + h2 {
            background-color: rgb(126, 222, 243, 0.8);
        }
    }
}


.footer-container {
    background-color: #34363e;
    color: rgb(199, 205, 218);
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;



    & .footer-up {
        /* border: 1pt solid red; */
        display: flex;
        flex-flow: row wrap;
        padding-top: 50pt;
        margin: 20pt;

        & > * {
            margin: 20pt;
        }

        & .footer-a {
            /* border: 1pt blue solid; */
            flex: 1;
            display: flex;
            flex-flow: row wrap;

            & > *{
                display: block;
                /* border: 1pt solid lime; */
            }

            & h2 {
                margin: 10pt;
                margin-bottom: 20pt;
                padding: 3pt;
                border-bottom: #dfb9ef solid 1pt;
                border-left: #dfb9ef solid 1pt;
            }
            & a, p {
                margin: 10pt;
            }

            & a {
                text-decoration: underline;
                width: fit-content;
            }

            & .footer-info {
                /* border: 1pt solid red; */

                @media screen and (max-width: 750px) {
                    max-width: 100%;
                }
                @media screen and (min-width: 750px) {
                    max-width: 50%;
                }
                
                & * {
                    display: block;
                }

                & p {
                    max-width: 25%vw;
                }
            }
            & .footer-links {
                flex: 1;
                & * {
                    display: block;
                }

            }
        }

        & .footer-b {
            /* border: purple 3pt solid; */
            flex: 1;
            justify-content: center;
            align-items: center;
            & .map {
                /* border: 1pt red solid; */
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }
    }

    & footer {
        margin: 20pt;
        margin-bottom: 50pt;
    }
}