.hero-container {

    /* border: 1px red solid; */

    background-image: url(../assets/images/trees.JPG);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-shadow: #0000004f 0px 0 10px;

    & .hero-title, .hero-subtitle {
        text-align: center;
        width: 60vw;
        border-left: 2pt solid #54a8e994;
        border-right: 2pt solid #54a8e994;
        /* border-radius: 10pt; */
        margin: 2pt;
        padding: 10pt;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
        background-color: #67c0e733;
        backdrop-filter: blur(10pt);
    }
}

.content-container {
    /* border: blue 2pt solid; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5dvh;
    padding: 0;

    & img {
        /* border: red 1pt solid; */
        width: 50%;
        height: fit-content;
    }

    & .content-right {
        /* border: 1px red solid; */
        flex: 1;
        height: fit-content;
        margin: 10pt;

        & h1 {
            padding: 0;
            margin: 0;
        }

        & a {
            border: none;
            text-decoration: none;
            background-color: #dfb9ef;
            color: black;
            /* padding: 10pt; */
            margin: none;
            font-family: "Afacad", sans-serif;
        
            &:hover {
                background-color: #7c6d84;
                color: white;
            }
        }
    }
}